@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.ttf') format('truetype');
}

:root {
    --color-main: rgb(105, 36, 124);
    --color-secondary: #ffffff;
    --color-default: #000000;
    --font-main: 'Outfit';
}

* {
    scroll-behavior: smooth;
    /* border: 1px solid var(--color-main); */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

header {
    padding: .7rem .8rem;
    border: 1px solid var(--color-default);
}

header div {
    width: fit-content;
}

header div p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: .3rem;
}

header div p span {
    display: inline-block;
    color: var(--color-default);
    font-weight: 600;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.form-container {
    padding: 2rem 1rem;
    border: 1px solid var(--color-default);
}

.flex-item div span {
    display: block;
    margin: 1rem 0;
}

.contact-title h1 {
    margin: .8rem 0;
}

.flex-item div span label {
    display: block;
    margin: .4rem 0;
    font-weight: 600;
}

.flex-item div span input {
    display: block;
    width: 96%;
    padding: .5rem .5rem;
    border: 1px solid var(--color-main);
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-item div {
    width: 90%;
    margin: 0 auto;
}

.flex-item div span textarea {
    display: block;
    width: 96%;
    padding: .5rem .5rem;
    border: 1px solid var(--color-main);
    height: 200px;
    resize: vertical;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
}

.button-wrapper button {
    display: flex;
    align-items: center;
    padding: .5rem .8rem;
    border: 2px solid var(--color-main);
    font-size: 18px;
    line-height: 20px;
    transition: all .2s ease-in-out;
}

.button-wrapper button:nth-child(1) {
    background: var(--color-main);
    color: var(--color-secondary);
}

.button-wrapper button:nth-child(2) {
    background: var(--color-secondary);
    color: var(--color-main);
}

.button-wrapper button span {
    margin: 0;
    font-size: 28px;
    line-height: 30px;
}

footer {
    border-top: 1px solid var(--color-main);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}