@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.ttf') format('truetype');
}

:root {
    --color-main: #69247c;
    --color-secondary: #ffffff;
    --color-default: #000000;
    --font-main: 'Outfit';
}

* {
    scroll-behavior: smooth;
    /* border: 1px solid rebeccapurple; */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: var(--color-secondary);
}

.header-search {
    width: 40%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.header-search input {
    width: 100%;
    padding: .5rem .7rem;
    border: 1px solid var(--color-main);
    border-left: none;
}

.header-search span {
    display: inline-block;
    font-size: 24px;
    line-height: 34px;
    border: 1px solid var(--color-main);
    border-right: none;
    padding-left: .5rem;
}

.header-menu .navmenu-btn span {
    display: inline-block;
    font-size: 30px;
    line-height: 34px;
}

.navibar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background: var(--color-secondary);
    border-top: 1px solid var(--color-main);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 60px;
}

.navibar p {
    font-size: 20px;
    line-height: 30px;
    margin: .5rem 0;
    padding: 0 1rem 0 0;
    border-right: 1px solid var(--color-default);
    color: var(--color-default);
    height: 30px;
}

.navibar ul {
    padding: 0 0 0 1rem;
    display: flex;
    gap: 1rem;
    margin: .5rem 0;
    border-left: 1px solid var(--color-default);
    height: 30px;
    overflow: auto;
    scrollbar-width: thin;
}

.navibar ul li {
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    flex-shrink: 0;
}

.navibar ul li a {
    color: var(--color-default);
    text-decoration: none;
}

.header-search input:focus {
    outline: none;
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}