@font-face {
    font-family: 'Main';
    src: url('/fonts/MarkaziText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Secondary';
    src: url('/fonts/Outfit-Regular.ttf') format('truetype');
}

:root {
    --color-main: rgb(105, 36, 124);
    --color-secondary: #ffffff;
    --color-default: #000000;
    --font-main: 'Main';
    --font-secondary: 'Secondary';
}

/* * {
    border: 1px solid var(--color-main);
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-secondary);
}

#home {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0 2rem;
}

.home-item h3 {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    padding: .5rem .7rem;
    border: 2px solid var(--color-main);
    width: fit-content;
    margin: auto auto;
    border-radius: .5rem;
    font-weight: 100;
}

.home-item h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 0;
}

.home-item h2 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 100;
}

.home-item .home-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: .7rem 0;
}

.home-cta a {
    padding: .6rem .8rem;
    border-radius: .5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home-cta a:nth-child(1) {
    background: var(--color-main);
    color: var(--color-secondary);
    border: 2px solid var(--color-main);
}

.home-cta a:nth-child(2) {
    border: 2px solid var(--color-main);
    color: var(--color-main);
}

.home-item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 2rem;
    box-shadow: rgba(105, 36, 124, .7) 0px 2px 35px 15px, rgba(105, 36, 124, 0.7) 0px 2px 16px 0px;
}